@model PuntoVenta.Models.Menus
<section>
    <div class="container">
        <div class="row row-cols-3 row-cols-lg-5 row-cols-md-3 g-3 g-lg-3 g-md-3">
            @if (Model != null)
            {
                foreach (var menu in Model)
                {
                    <a href="@menu.MEN_DS_RUTA" class="text-decoration-none">
                        <div class="col rounded-4  @(menu.MEN_DS_CLASS) @(menu.MEN_DS_CLASS == "btn btn-light" ? "" : "text-white")" style="min-height: 170px; min-width: 250px; @(menu.MEN_DS_CLASS == "btn btn-light" ? "border-color:black" : "")">
                            <div class="p-3 text-center">
                                @if (!string.IsNullOrEmpty(menu.MEN_DS_ICONO))
                                {
                                    var iconPath = Server.MapPath($"~/Content/bootstrap-icons/{menu.MEN_DS_ICONO}.svg");
                                    if (System.IO.File.Exists(iconPath))
                                    {
                                        var svgContent = System.IO.File.ReadAllText(iconPath);
                                        svgContent = svgContent.Replace("<svg", "<svg class=\"icono-svg " + (menu.MEN_DS_CLASS == "btn btn-light" ? "text-black" : "text-white") + "\" fill=\"currentColor\" width=\"54\" height=\"54\"");
                                        @Html.Raw(svgContent)
                                    }
                                }
                                <br />
                                <span class="fw-bold fs-4">@menu.MEN_DS_MENU</span>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>

